In [2]:
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)
home_dir = "../"

import time
import os
import pandas as pd
from utils.pandas_extented_filters import filter_drop_duplicates, filter_remove_null_nan_empty_entries
from utils.column_names_reader import get_col_names_from_gzip

### Merging downloaded missense variants

In [2]:
def clean_df(data_filepath):
    df = pd.read_csv(data_filepath, delim_whitespace=False, sep="\t")
    # print(df.shape)
    # df.head()
    df = filter_drop_duplicates(df, a_col_name="snp_id")
    # print(df.shape)
    return df

In [3]:
data_filepath = home_dir+"data/dbsnp/search_results/dbsnp_HumanMissenseALFAVariants_0.txt"
df_0 = clean_df(data_filepath)

data_filepath = home_dir+"data/dbsnp/search_results/dbsnp_HumanMissenseALFAVariants_1.txt"
df_1 = clean_df(data_filepath)

data_filepath = home_dir+"data/dbsnp/search_results/dbsnp_HumanMissenseALFAVariants_2.txt"
df_2 = clean_df(data_filepath)

data_filepath = home_dir+"data/dbsnp/search_results/dbsnp_HumanMissenseALFAVariants_3.txt"
df_3 = clean_df(data_filepath)

Number of duplicates rows removed: 11
Number of duplicates rows removed: 174
Number of duplicates rows removed: 0
Number of duplicates rows removed: 60

In [4]:
df = pd.concat([df_0, df_1, df_2, df_3], ignore_index=True)
print(df.shape)
print(df.columns)

(5416077, 14)
Index(['snp_id', 'acc', 'chrpos', 'spdi', 'tax_id', 'snp_class', 'create_date',
       'update_date', 'clinical_significance', 'fxn_class', 'validated',
       'genes', 'mafs', 'variations'],
      dtype='object')

### Initial cleaning of downloaded dataset

In [5]:
df_remove_dup = filter_drop_duplicates(df, a_col_name="snp_id")
print(df_remove_dup.shape)
print(df_remove_dup.columns)
# snvs_with_no_NP = df_remove_dup[pd.isna(df_remove_dup["variations"])]
# snvs_with_no_NP.to_csv(home_dir+"data/dbsnp/snvs_with_no_NP.csv", index=False, header=True)
df_remove_NNE = filter_remove_null_nan_empty_entries(df_remove_dup, a_col_name="variations") # NNE: null, nan or empty variants
print(df_remove_NNE.shape)
print(df_remove_NNE.columns)

Number of duplicates rows removed: 275727
(5140350, 14)
Index(['snp_id', 'acc', 'chrpos', 'spdi', 'tax_id', 'snp_class', 'create_date',
       'update_date', 'clinical_significance', 'fxn_class', 'validated',
       'genes', 'mafs', 'variations'],
      dtype='object')
Number of NAN rows removed: 151569
Number of NULL rows removed: 0
Number of empty rows removed: 0
(4988781, 14)
Index(['snp_id', 'acc', 'chrpos', 'spdi', 'tax_id', 'snp_class', 'create_date',
       'update_date', 'clinical_significance', 'fxn_class', 'validated',
       'genes', 'mafs', 'variations'],
      dtype='object')

In [9]:
df_remove_NNE["genes"]

0                            UGGT1:56886
1                             ITGA2:3673
2          NECAB3:63941,C20orf144:128864
3                           DPYSL5:56896
4                             TMCC2:9911
                       ...
5416072                         HBB:3043
5416073                         LPL:4023
5416074                         LPL:4023
5416075                         LPL:4023
5416076                    THSD7A:221981
Name: genes, Length: 4988781, dtype: object

### Mapping to MANE proteins

In [7]:
gene2refseq_mapping_filepath = home_dir+"data/refseq/MANE.GRCh38.v1.0.summary.txt.gz" # "symbol" is the Gene-symbol col
# gene2refseq_mapping_filepath = home_dir+"data/gene/gene2refseq_filtered.gz" # "Symbol" is the Gene-symbol col
# gene2refseq_mapping_filepath = home_dir+"data/refseq/HumanLRGRefSeqGene.txt.gz"  # "Symbol" is the Gene-symbol col

gene_symbol_col_name = "symbol" if gene2refseq_mapping_filepath.__contains__("MANE") else "Symbol"
gene2refseq_mapping_df = pd.read_csv(gene2refseq_mapping_filepath, compression='gzip', delim_whitespace=False, sep="\t")#, header=None, names=col_names)

print(gene2refseq_mapping_df.shape)
print(gene2refseq_mapping_df[gene_symbol_col_name].unique().shape) # some gene can be mapped to multiple proteins
print(gene2refseq_mapping_df["MANE_status"].value_counts())
gene2refseq_mapping_df.head()

(19120, 14)
(19062,)
MANE Select           19062
MANE Plus Clinical       58
Name: MANE_status, dtype: int64

,#NCBI_GeneID,Ensembl_Gene,HGNC_ID,symbol,name,RefSeq_nuc,RefSeq_prot,Ensembl_nuc,Ensembl_prot,MANE_status,GRCh38_chr,chr_start,chr_end,chr_strand
0,GeneID:1,ENSG00000121410.12,HGNC:5,A1BG,alpha-1-B glycoprotein,NM_130786.4,NP_570602.2,ENST00000263100.8,ENSP00000263100.2,MANE Select,19,58345183,58353492,-
1,GeneID:2,ENSG00000175899.15,HGNC:7,A2M,alpha-2-macroglobulin,NM_000014.6,NP_000005.3,ENST00000318602.12,ENSP00000323929.8,MANE Select,12,9067708,9115919,-
2,GeneID:9,ENSG00000171428.15,HGNC:7645,NAT1,N-acetyltransferase 1,NM_000662.8,NP_000653.3,ENST00000307719.9,ENSP00000307218.4,MANE Select,8,18210109,18223689,+
3,GeneID:10,ENSG00000156006.5,HGNC:7646,NAT2,N-acetyltransferase 2,NM_000015.3,NP_000006.2,ENST00000286479.4,ENSP00000286479.3,MANE Select,8,18391282,18401218,+
4,GeneID:12,ENSG00000196136.18,HGNC:16,SERPINA3,serpin family A member 3,NM_001085.5,NP_001076.2,ENST00000393078.5,ENSP00000376793.3,MANE Select,14,94612391,94624053,+

In [19]:
print(gene2refseq_mapping_df["symbol"].value_counts())
gene2refseq_mapping_df[gene2refseq_mapping_df["symbol"]=="DYSF"]

CACNA1D         2
CACNA1C         2
DYNC2H1         2
SLC39A14        2
CLPB            2
               ..
ZNF432          1
SAFB2           1
DZIP3           1
MARF1           1
LOC122539214    1
Name: symbol, Length: 19062, dtype: int64

,#NCBI_GeneID,Ensembl_Gene,HGNC_ID,symbol,name,RefSeq_nuc,RefSeq_prot,Ensembl_nuc,Ensembl_prot,MANE_status,GRCh38_chr,chr_start,chr_end,chr_strand
5407,GeneID:8291,ENSG00000135636.16,HGNC:3097,DYSF,dysferlin,NM_003494.4,NP_003485.1,ENST00000258104.8,ENSP00000258104.3,MANE Plus Clinical,2,71453561,71686763,+
5408,GeneID:8291,ENSG00000135636.16,HGNC:3097,DYSF,dysferlin,NM_001130987.2,NP_001124459.1,ENST00000410020.8,ENSP00000386881.3,MANE Select,2,71466699,71686763,+

In [14]:
dbsnp_missense_variants_df = df_remove_NNE.copy()
dbsnp_missense_variants_df["gene_symbol"] = dbsnp_missense_variants_df["genes"].apply(lambda x: x.split(",")[0].split(":")[0])#HSFX4:101927685"
print(dbsnp_missense_variants_df["gene_symbol"].unique().shape)
# gene2refseq_filtered_df[gene2refseq_filtered_df["Symbol"]=="ANK2"] # 73 refseq transcripts and 73 protein isoforms
merged_df = dbsnp_missense_variants_df.merge(gene2refseq_mapping_df, how="inner", left_on="gene_symbol", right_on=gene_symbol_col_name) # mapping clinvar mRNA transcripts to protein accession
print(merged_df.shape)
print(merged_df.columns)
print(merged_df["gene_symbol"].unique().shape, merged_df[gene_symbol_col_name].unique().shape)

(18534,)
(4987804, 29)
Index(['snp_id', 'acc', 'chrpos', 'spdi', 'tax_id', 'snp_class', 'create_date',
       'update_date', 'clinical_significance', 'fxn_class', 'validated',
       'genes', 'mafs', 'variations', 'gene_symbol', '#NCBI_GeneID',
       'Ensembl_Gene', 'HGNC_ID', 'symbol', 'name', 'RefSeq_nuc',
       'RefSeq_prot', 'Ensembl_nuc', 'Ensembl_prot', 'MANE_status',
       'GRCh38_chr', 'chr_start', 'chr_end', 'chr_strand'],
      dtype='object')
(18281,) (18281,)

In [15]:
def filter_protein_isoforms_to_canonical(x):
    # return x["variations"]
    variations = x["variations"].split(",")
    # if len(variations) == 1: return ",".join(variations)
    new_variations = []
    for var in variations:
        if var.split(":")[0] == x["RefSeq_prot"]:
            new_variations.append(var)
    return ",".join(new_variations)

# merged_df[["variations", "RefSeq_prot"]].apply(xx, axis=1)
merged_df["new_variations"] = merged_df[["variations", "RefSeq_prot"]].apply(filter_protein_isoforms_to_canonical, axis=1)
print(merged_df.shape)
merged_df_remove_NNE = filter_remove_null_nan_empty_entries(merged_df, a_col_name="new_variations") # NNE: null, nan or empty variants
print(merged_df_remove_NNE.shape)
print(merged_df_remove_NNE["RefSeq_prot"].unique().shape[0])
print(merged_df_remove_NNE["gene_symbol"].unique().shape[0])

(4987804, 30)
Number of NAN rows removed: 0
Number of NULL rows removed: 0
Number of empty rows removed: 312738
(4675066, 30)
18326
18268

### Optimizing

In [16]:
print(merged_df_remove_NNE.columns)
columns = ['snp_id', 'acc', 'chrpos', 'spdi', 'create_date', 'update_date',
           'gene_symbol', 'HGNC_ID', 'symbol', 'name', 'RefSeq_prot', 'new_variations']
optim_df = merged_df_remove_NNE[columns]
optim_df["snp_id"] = optim_df["snp_id"].apply(lambda x: "rs"+str(x))

# an rs_id can be mapped to multiple proteins, because MANE sometimes maps single gene to multiple proteins.
# the following is an example of that phenomena
optim_df = optim_df.rename(columns={'new_variations': 'variations'})
print(optim_df.shape)
print(optim_df["snp_id"].unique().shape)
print(optim_df["snp_id"].value_counts())
optim_df[optim_df["snp_id"]=="rs753176482"]

Index(['snp_id', 'acc', 'chrpos', 'spdi', 'tax_id', 'snp_class', 'create_date',
       'update_date', 'clinical_significance', 'fxn_class', 'validated',
       'genes', 'mafs', 'variations', 'gene_symbol', '#NCBI_GeneID',
       'Ensembl_Gene', 'HGNC_ID', 'symbol', 'name', 'RefSeq_nuc',
       'RefSeq_prot', 'Ensembl_nuc', 'Ensembl_prot', 'MANE_status',
       'GRCh38_chr', 'chr_start', 'chr_end', 'chr_strand', 'new_variations'],
      dtype='object')

/tmp/ipykernel_3379849/325403337.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  optim_df["snp_id"] = optim_df["snp_id"].apply(lambda x: "rs"+str(x))

(4675066, 12)
(4646054,)
rs753176482     2
rs140002194     2
rs141704244     2
rs141536854     2
rs141497053     2
               ..
rs1186734094    1
rs1186176189    1
rs1186159489    1
rs1184408711    1
rs11798010      1
Name: snp_id, Length: 4646054, dtype: int64

,snp_id,acc,chrpos,spdi,create_date,update_date,gene_symbol,HGNC_ID,symbol,name,RefSeq_prot,variations
2580070,rs753176482,NC_000002.12,2:71664422,"NC_000002.12:71664421:C:G,NC_000002.12:7166442...",2015/04/01 22:25,2022/10/17 18:18,DYSF,HGNC:3097,DYSF,dysferlin,NP_003485.1,"NP_003485.1:p.Pro1681Ala,NP_003485.1:p.Pro1681Ser"
2580071,rs753176482,NC_000002.12,2:71664422,"NC_000002.12:71664421:C:G,NC_000002.12:7166442...",2015/04/01 22:25,2022/10/17 18:18,DYSF,HGNC:3097,DYSF,dysferlin,NP_001124459.1,"NP_001124459.1:p.Pro1720Ala,NP_001124459.1:p.P..."

### Mapping with ALFA population frequency data

In [26]:
filepath = home_dir+"data/ALFA_population_freq/freq.vcf.gz"
col_names = get_col_names_from_gzip(filepath, "#CHROM")
print(col_names)
alfa_popu_freq_df_chunk_iterator = pd.read_csv(filepath, compression='gzip', chunksize=1000, comment="#", names=col_names, delim_whitespace=False, sep="\t")
first_df = alfa_popu_freq_df_chunk_iterator.__next__()
first_df

import gzip
with gzip.open(filepath, "rt") as file_handle:
    for line_no, line in enumerate(file_handle):
        print(line)
        if line_no==10: break

['CHROM', 'POS', 'ID', 'REF', 'ALT', 'QUAL', 'FILTER', 'INFO', 'FORMAT', 'SAMN10492695', 'SAMN10492696', 'SAMN10492697', 'SAMN10492698', 'SAMN10492699', 'SAMN10492700', 'SAMN10492701', 'SAMN10492702', 'SAMN11605645', 'SAMN10492703', 'SAMN10492704', 'SAMN10492705']
##fileformat=VCFv4.0

##build_id=20201027095038

##Population=https://www.ncbi.nlm.nih.gov/biosample/?term=GRAF-pop

##FORMAT=<ID=AN,Number=1,Type=Integer,Description="Total allele count for the population, including REF">

##FORMAT=<ID=AC,Number=A,Type=Integer,Description="Allele count for each ALT allele for the population">

#CHROM	POS	ID	REF	ALT	QUAL	FILTER	INFO	FORMAT	SAMN10492695	SAMN10492696	SAMN10492697	SAMN10492698	SAMN10492699	SAMN10492700	SAMN10492701	SAMN10492702	SAMN11605645	SAMN10492703	SAMN10492704	SAMN10492705

NC_000001.9	144135212	rs1553120241	G	A	.	.	.	AN:AC	8560:5387	8:8	256:224	336:288	32:24	170:117	32:24	18:13	20:15	344:296	288:248	9432:6100

NC_000001.9	144148243	rs2236566	G	T	.	.	.	AN:AC	5996:510	0:0	0:0	0:0	0:0	0:0	0:0	0:0	84:8	0:0	0:0	6080:518

NC_000001.9	146267105	rs1553119693	T	G	.	.	.	AN:AC	37168:28800	36:22	56:44	1378:839	18:14	70:60	10:9	4836:3639	452:322	1414:861	66:53	44024:33749

NC_000001.9	148488564	.	C	A	.	.	.	AN:AC	8552:0	8:0	256:0	338:0	32:0	170:0	32:0	16:0	20:0	346:0	288:0	9424:0

NC_000001.10	2701535	rs371068661	C	T	.	.	.	AN:AC	134:9	0:0	0:0	48:1	0:0	0:0	0:0	0:0	188:15	48:1	0:0	370:25

In [27]:
# do not run this unless you changed something before, it takes 1 hour
alfa_popu_freq_df_chunk_iterator = pd.read_csv(filepath, compression='gzip', chunksize=1000000, comment="#", names=col_names, delim_whitespace=False, sep="\t")

dbsnp_ids = list(optim_df["snp_id"].unique())
print(len(dbsnp_ids))

chunk_list = []
for i, alfa_popu_freq_df in enumerate(alfa_popu_freq_df_chunk_iterator):
    chunk = alfa_popu_freq_df[alfa_popu_freq_df["ID"].isin(dbsnp_ids)]
    print(i, chunk.shape)
    chunk_list.append(chunk)
    # dbsnp_df = dbsnp_df.merge(filtered_alfa_popu_freq_df, how="left", left_on="snp_id", right_on="ID") 
    # print(dbsnp_df.shape)
    # if i==0: break

filtered_alfa_popu_freq_df = pd.concat(chunk_list)

4646054
0 (18099, 21)
1 (5200, 21)
2 (8667, 21)
3 (13006, 21)
4 (10625, 21)
5 (11543, 21)
6 (12827, 21)
7 (8312, 21)
8 (13537, 21)
9 (5981, 21)
10 (9720, 21)
11 (9072, 21)
12 (9952, 21)
13 (12861, 21)
14 (8517, 21)
15 (2349, 21)
16 (10570, 21)
17 (2179, 21)
18 (2070, 21)
19 (5511, 21)
20 (3642, 21)
21 (1520, 21)
22 (2519, 21)
23 (3767, 21)
24 (361, 21)
25 (3408, 21)
26 (3303, 21)
27 (5676, 21)
28 (6519, 21)
29 (639, 21)
30 (4112, 21)
31 (1814, 21)
32 (688, 21)
33 (12630, 21)
34 (7093, 21)
35 (5982, 21)
36 (3813, 21)
37 (0, 21)
38 (0, 21)
39 (3822, 21)
40 (7766, 21)
41 (22367, 21)
42 (17159, 21)
43 (16528, 21)
44 (12488, 21)
45 (1776, 21)
46 (4456, 21)
47 (7628, 21)
48 (4279, 21)
49 (4476, 21)
50 (7196, 21)
51 (6156, 21)
52 (3435, 21)
53 (445, 21)
54 (963, 21)
55 (5332, 21)
56 (9199, 21)
57 (11319, 21)
58 (8436, 21)
59 (4118, 21)
60 (4160, 21)
61 (3690, 21)
62 (3427, 21)
63 (7464, 21)
64 (12263, 21)
65 (5571, 21)
66 (5045, 21)
67 (7062, 21)
68 (2979, 21)
69 (2618, 21)
70 (8968, 21)
71 (5499, 21)
72 (1380, 21)
73 (550, 21)
74 (6242, 21)
75 (235, 21)
76 (3376, 21)
77 (5629, 21)
78 (2727, 21)
79 (14541, 21)
80 (5446, 21)
81 (5465, 21)
82 (2412, 21)
83 (5211, 21)
84 (1309, 21)
85 (6020, 21)
86 (4434, 21)
87 (2644, 21)
88 (238, 21)
89 (6549, 21)
90 (443, 21)
91 (3987, 21)
92 (3167, 21)
93 (2250, 21)
94 (6673, 21)
95 (12304, 21)
96 (741, 21)
97 (638, 21)
98 (2011, 21)
99 (6720, 21)
100 (1081, 21)
101 (0, 21)
102 (10169, 21)
103 (6825, 21)
104 (4368, 21)
105 (2932, 21)
106 (4898, 21)
107 (6591, 21)
108 (316, 21)
109 (3457, 21)
110 (1770, 21)
111 (702, 21)
112 (5298, 21)
113 (7015, 21)
114 (4064, 21)
115 (1120, 21)
116 (2148, 21)
117 (979, 21)
118 (1657, 21)
119 (6548, 21)
120 (340, 21)
121 (4379, 21)
122 (4576, 21)
123 (3964, 21)
124 (7086, 21)
125 (5879, 21)
126 (4262, 21)
127 (21856, 21)
128 (2485, 21)
129 (3943, 21)
130 (2777, 21)
131 (4378, 21)
132 (963, 21)
133 (5029, 21)
134 (7505, 21)
135 (4007, 21)
136 (5992, 21)
137 (4040, 21)
138 (3429, 21)
139 (8428, 21)
140 (10120, 21)
141 (3126, 21)
142 (4281, 21)
143 (5253, 21)
144 (8695, 21)
145 (7067, 21)
146 (7828, 21)
147 (4160, 21)
148 (2517, 21)
149 (970, 21)
150 (7835, 21)
151 (5847, 21)
152 (6344, 21)
153 (2170, 21)
154 (198, 21)
155 (1598, 21)
156 (1697, 21)
157 (1581, 21)
158 (2918, 21)
159 (10318, 21)
160 (5492, 21)
161 (9543, 21)
162 (19114, 21)
163 (21682, 21)
164 (7907, 21)
165 (7604, 21)
166 (181, 21)
167 (3612, 21)
168 (1910, 21)
169 (2269, 21)
170 (2016, 21)
171 (1420, 21)
172 (1322, 21)
173 (329, 21)
174 (109, 21)
175 (767, 21)
176 (326, 21)
177 (649, 21)
178 (4405, 21)
179 (5670, 21)
180 (584, 21)
181 (1309, 21)
182 (3146, 21)
183 (8497, 21)
184 (219, 21)
185 (4525, 21)
186 (11327, 21)
187 (7057, 21)
188 (9099, 21)
189 (5548, 21)
190 (2252, 21)
191 (4820, 21)
192 (4807, 21)
193 (1122, 21)
194 (4371, 21)
195 (4317, 21)
196 (2991, 21)
197 (2976, 21)
198 (506, 21)
199 (2044, 21)
200 (4334, 21)
201 (2850, 21)
202 (694, 21)
203 (2293, 21)
204 (3652, 21)
205 (10785, 21)
206 (2166, 21)
207 (2430, 21)
208 (11895, 21)
209 (9543, 21)
210 (10610, 21)
211 (6133, 21)
212 (5669, 21)
213 (1500, 21)
214 (3215, 21)
215 (3812, 21)
216 (774, 21)
217 (1945, 21)
218 (2236, 21)
219 (526, 21)
220 (0, 21)
221 (1973, 21)
222 (6732, 21)
223 (2338, 21)
224 (1313, 21)
225 (4799, 21)
226 (2210, 21)
227 (6361, 21)
228 (0, 21)
229 (601, 21)
230 (679, 21)
231 (3160, 21)
232 (5747, 21)
233 (3875, 21)
234 (5711, 21)
235 (4220, 21)
236 (4250, 21)
237 (5988, 21)
238 (3055, 21)
239 (1235, 21)
240 (929, 21)
241 (3986, 21)
242 (3074, 21)
243 (3192, 21)
244 (3942, 21)
245 (4030, 21)
246 (700, 21)
247 (3131, 21)
248 (4319, 21)
249 (2746, 21)
250 (2770, 21)
251 (417, 21)
252 (168, 21)
253 (2050, 21)
254 (2489, 21)
255 (3587, 21)
256 (1754, 21)
257 (4174, 21)
258 (5634, 21)
259 (2666, 21)
260 (379, 21)
261 (2430, 21)
262 (2785, 21)
263 (1079, 21)
264 (1653, 21)
265 (1569, 21)
266 (0, 21)
267 (5058, 21)
268 (6162, 21)
269 (6263, 21)
270 (2093, 21)
271 (2412, 21)
272 (2155, 21)
273 (833, 21)
274 (5497, 21)
275 (548, 21)
276 (339, 21)
277 (801, 21)
278 (328, 21)
279 (2508, 21)
280 (4109, 21)
281 (7372, 21)
282 (4136, 21)
283 (2485, 21)
284 (255, 21)
285 (520, 21)
286 (3786, 21)
287 (2909, 21)
288 (1219, 21)
289 (2192, 21)
290 (3008, 21)
291 (5902, 21)
292 (5491, 21)
293 (5945, 21)
294 (3449, 21)
295 (1794, 21)
296 (511, 21)
297 (3215, 21)
298 (3867, 21)
299 (2125, 21)
300 (1152, 21)
301 (841, 21)
302 (628, 21)
303 (2224, 21)
304 (3812, 21)
305 (2495, 21)
306 (2237, 21)
307 (2646, 21)
308 (1232, 21)
309 (4149, 21)
310 (6291, 21)
311 (4335, 21)
312 (6203, 21)
313 (20693, 21)
314 (2422, 21)
315 (5295, 21)
316 (9893, 21)
317 (3093, 21)
318 (3410, 21)
319 (2824, 21)
320 (513, 21)
321 (2839, 21)
322 (3893, 21)
323 (2147, 21)
324 (10898, 21)
325 (9479, 21)
326 (3187, 21)
327 (1843, 21)
328 (4090, 21)
329 (4153, 21)
330 (2435, 21)
331 (2974, 21)
332 (1091, 21)
333 (8218, 21)
334 (9355, 21)
335 (29143, 21)
336 (10089, 21)
337 (5934, 21)
338 (14322, 21)
339 (4719, 21)
340 (3521, 21)
341 (4616, 21)
342 (3133, 21)
343 (4953, 21)
344 (428, 21)
345 (2253, 21)
346 (364, 21)
347 (3260, 21)
348 (4915, 21)
349 (1130, 21)
350 (1667, 21)
351 (3859, 21)
352 (3516, 21)
353 (4725, 21)
354 (349, 21)
355 (1770, 21)
356 (3149, 21)
357 (267, 21)
358 (3600, 21)
359 (5895, 21)
360 (3407, 21)
361 (5573, 21)
362 (1755, 21)
363 (1800, 21)
364 (2055, 21)
365 (3850, 21)
366 (4418, 21)
367 (4169, 21)
368 (3674, 21)
369 (3161, 21)
370 (4331, 21)
371 (4419, 21)
372 (7047, 21)
373 (3322, 21)
374 (8319, 21)
375 (1529, 21)
376 (1431, 21)
377 (4683, 21)
378 (6951, 21)
379 (5504, 21)
380 (11815, 21)
381 (1861, 21)
382 (2747, 21)
383 (826, 21)
384 (1898, 21)
385 (2470, 21)
386 (5861, 21)
387 (3894, 21)
388 (4384, 21)
389 (2472, 21)
390 (2272, 21)
391 (2730, 21)
392 (4474, 21)
393 (5016, 21)
394 (5869, 21)
395 (913, 21)
396 (2311, 21)
397 (473, 21)
398 (261, 21)
399 (3987, 21)
400 (89, 21)
401 (3968, 21)
402 (7291, 21)
403 (2339, 21)
404 (4087, 21)
405 (672, 21)
406 (3984, 21)
407 (6989, 21)
408 (3655, 21)
409 (7673, 21)
410 (25132, 21)
411 (4790, 21)
412 (5709, 21)
413 (1541, 21)
414 (1377, 21)
415 (3507, 21)
416 (2819, 21)
417 (2820, 21)
418 (6618, 21)
419 (4003, 21)
420 (4255, 21)
421 (3490, 21)
422 (8118, 21)
423 (8317, 21)
424 (1004, 21)
425 (13638, 21)
426 (3339, 21)
427 (2978, 21)
428 (2913, 21)
429 (5690, 21)
430 (304, 21)
431 (3610, 21)
432 (3416, 21)
433 (7649, 21)
434 (1907, 21)
435 (1808, 21)
436 (5524, 21)
437 (6925, 21)
438 (6273, 21)
439 (6146, 21)
440 (3221, 21)
441 (1342, 21)
442 (5579, 21)
443 (4208, 21)
444 (2197, 21)
445 (2869, 21)
446 (1176, 21)
447 (3541, 21)
448 (1848, 21)
449 (2641, 21)
450 (1007, 21)
451 (4168, 21)
452 (2428, 21)
453 (2279, 21)
454 (2216, 21)
455 (1185, 21)
456 (860, 21)
457 (3168, 21)
458 (1511, 21)
459 (2426, 21)
460 (3632, 21)
461 (5696, 21)
462 (3140, 21)
463 (2023, 21)
464 (3322, 21)
465 (1623, 21)
466 (1151, 21)
467 (3329, 21)
468 (3419, 21)
469 (2558, 21)
470 (1051, 21)
471 (4553, 21)
472 (679, 21)
473 (1623, 21)
474 (4107, 21)
475 (28563, 21)
476 (3791, 21)
477 (3161, 21)
478 (4667, 21)
479 (1008, 21)
480 (857, 21)
481 (4164, 21)
482 (1635, 21)
483 (6200, 21)
484 (1759, 21)
485 (308, 21)
486 (2275, 21)
487 (2261, 21)
488 (14778, 21)
489 (5632, 21)
490 (1988, 21)
491 (0, 21)
492 (374, 21)
493 (3381, 21)
494 (3943, 21)
495 (1957, 21)
496 (4688, 21)
497 (1852, 21)
498 (2625, 21)
499 (4219, 21)
500 (2347, 21)
501 (7582, 21)
502 (6233, 21)
503 (5275, 21)
504 (3083, 21)
505 (2167, 21)
506 (6912, 21)
507 (8885, 21)
508 (2900, 21)
509 (4176, 21)
510 (7654, 21)
511 (7371, 21)
512 (15471, 21)
513 (11971, 21)
514 (21593, 21)
515 (6667, 21)
516 (1126, 21)
517 (6031, 21)
518 (498, 21)
519 (3677, 21)
520 (4065, 21)
521 (4310, 21)
522 (2827, 21)
523 (4501, 21)
524 (4045, 21)
525 (3880, 21)
526 (2456, 21)
527 (1887, 21)
528 (0, 21)
529 (2691, 21)
530 (6060, 21)
531 (7223, 21)
532 (1540, 21)
533 (146, 21)
534 (3254, 21)
535 (2630, 21)
536 (462, 21)
537 (9839, 21)
538 (10413, 21)
539 (2216, 21)
540 (4313, 21)
541 (322, 21)
542 (5072, 21)
543 (4960, 21)
544 (6253, 21)
545 (9519, 21)
546 (8791, 21)
547 (14447, 21)
548 (2126, 21)
549 (708, 21)
550 (3861, 21)
551 (5613, 21)
552 (4608, 21)
553 (6184, 21)
554 (4741, 21)
555 (3364, 21)
556 (4055, 21)
557 (25873, 21)
558 (8666, 21)
559 (18279, 21)
560 (7100, 21)
561 (3067, 21)
562 (6528, 21)
563 (6831, 21)
564 (1123, 21)
565 (1071, 21)
566 (1611, 21)
567 (5185, 21)
568 (4609, 21)
569 (201, 21)
570 (115, 21)
571 (6116, 21)
572 (9234, 21)
573 (355, 21)
574 (611, 21)
575 (12022, 21)
576 (11559, 21)
577 (17564, 21)
578 (28383, 21)
579 (10659, 21)
580 (8485, 21)
581 (8381, 21)
582 (5965, 21)
583 (1910, 21)
584 (2959, 21)
585 (1884, 21)
586 (2253, 21)
587 (8374, 21)
588 (775, 21)
589 (2363, 21)
590 (5590, 21)
591 (6029, 21)
592 (2496, 21)
593 (5830, 21)
594 (6813, 21)
595 (11991, 21)
596 (9011, 21)
597 (3765, 21)
598 (5280, 21)
599 (3116, 21)
600 (5985, 21)
601 (5639, 21)
602 (15624, 21)
603 (5911, 21)
604 (5086, 21)
605 (1801, 21)
606 (4006, 21)
607 (1543, 21)
608 (3996, 21)
609 (3163, 21)
610 (2897, 21)
611 (0, 21)
612 (1717, 21)
613 (2940, 21)
614 (4304, 21)
615 (12863, 21)
616 (16196, 21)
617 (15778, 21)
618 (15963, 21)
619 (1064, 21)
620 (3606, 21)
621 (3427, 21)
622 (5030, 21)
623 (822, 21)
624 (2363, 21)
625 (3991, 21)
626 (2018, 21)
627 (2152, 21)
628 (1661, 21)
629 (3300, 21)
630 (4304, 21)
631 (5805, 21)
632 (4950, 21)
633 (5290, 21)
634 (10966, 21)
635 (6723, 21)
636 (3509, 21)
637 (9478, 21)
638 (13823, 21)
639 (413, 21)
640 (3110, 21)
641 (9907, 21)
642 (0, 21)
643 (4081, 21)
644 (3777, 21)
645 (5805, 21)
646 (3804, 21)
647 (6267, 21)
648 (2892, 21)
649 (3707, 21)
650 (4675, 21)
651 (4406, 21)
652 (3367, 21)
653 (4756, 21)
654 (8, 21)
655 (1338, 21)
656 (421, 21)
657 (176, 21)
658 (518, 21)
659 (1357, 21)
660 (1533, 21)
661 (3570, 21)
662 (106, 21)
663 (692, 21)
664 (446, 21)
665 (275, 21)
666 (1518, 21)
667 (3139, 21)
668 (3646, 21)
669 (4814, 21)
670 (1021, 21)
671 (4256, 21)
672 (7126, 21)
673 (8076, 21)
674 (16185, 21)
675 (4534, 21)
676 (796, 21)
677 (4656, 21)
678 (3559, 21)
679 (3485, 21)
680 (234, 21)
681 (3087, 21)
682 (1396, 21)
683 (6920, 21)
684 (3791, 21)
685 (4172, 21)
686 (4462, 21)
687 (7742, 21)
688 (3048, 21)
689 (5143, 21)
690 (12092, 21)
691 (5046, 21)
692 (1935, 21)
693 (284, 21)
694 (2674, 21)
695 (5693, 21)
696 (8886, 21)
697 (2075, 21)
698 (4185, 21)
699 (16382, 21)
700 (2802, 21)
701 (3566, 21)
702 (3513, 21)
703 (4168, 21)
704 (6614, 21)
705 (5676, 21)
706 (1010, 21)
707 (21149, 21)
708 (13440, 21)
709 (4097, 21)
710 (8282, 21)
711 (3060, 21)
712 (4221, 21)
713 (3419, 21)
714 (8013, 21)
715 (9274, 21)
716 (3971, 21)
717 (9868, 21)
718 (9031, 21)
719 (7618, 21)
720 (6227, 21)
721 (4471, 21)
722 (10508, 21)
723 (4681, 21)
724 (566, 21)
725 (2400, 21)
726 (15578, 21)
727 (30937, 21)
728 (13298, 21)
729 (264, 21)
730 (1900, 21)
731 (7409, 21)
732 (5081, 21)
733 (5158, 21)
734 (10878, 21)
735 (7234, 21)
736 (7744, 21)
737 (20486, 21)
738 (0, 21)
739 (3166, 21)
740 (4911, 21)
741 (2800, 21)
742 (8832, 21)
743 (3170, 21)
744 (248, 21)
745 (8506, 21)
746 (14809, 21)
747 (11130, 21)
748 (6149, 21)
749 (2676, 21)
750 (1101, 21)
751 (2650, 21)
752 (8997, 21)
753 (3640, 21)
754 (18343, 21)
755 (12656, 21)
756 (17342, 21)
757 (22263, 21)
758 (9795, 21)
759 (3214, 21)
760 (13482, 21)
761 (3497, 21)
762 (1460, 21)
763 (14684, 21)
764 (3423, 21)
765 (11856, 21)
766 (21416, 21)
767 (20171, 21)
768 (9713, 21)
769 (12430, 21)
770 (820, 21)
771 (5876, 21)
772 (7482, 21)
773 (11600, 21)
774 (4715, 21)
775 (4317, 21)
776 (5618, 21)
777 (19178, 21)
778 (13644, 21)
779 (15924, 21)
780 (4050, 21)
781 (2238, 21)
782 (4792, 21)
783 (5148, 21)
784 (2126, 21)
785 (319, 21)
786 (6420, 21)
787 (2136, 21)
788 (1326, 21)
789 (5580, 21)
790 (3683, 21)
791 (0, 21)
792 (545, 21)
793 (6182, 21)
794 (3481, 21)
795 (1802, 21)
796 (2040, 21)
797 (4093, 21)
798 (3935, 21)
799 (2338, 21)
800 (1066, 21)
801 (1572, 21)
802 (2960, 21)
803 (2791, 21)
804 (21470, 21)
805 (19202, 21)
806 (16483, 21)
807 (20263, 21)
808 (21703, 21)
809 (17442, 21)
810 (22922, 21)
811 (9896, 21)
812 (4368, 21)
813 (1669, 21)
814 (5814, 21)
815 (18554, 21)
816 (22403, 21)
817 (18207, 21)
818 (21982, 21)
819 (24428, 21)
820 (23343, 21)
821 (23317, 21)
822 (24668, 21)
823 (10345, 21)
824 (7084, 21)
825 (1713, 21)
826 (1567, 21)
827 (1769, 21)
828 (3762, 21)
829 (3933, 21)
830 (5560, 21)
831 (0, 21)
832 (4790, 21)
833 (12824, 21)
834 (7829, 21)
835 (3345, 21)
836 (9694, 21)
837 (6335, 21)
838 (5686, 21)
839 (1737, 21)
840 (3991, 21)
841 (4008, 21)
842 (17976, 21)
843 (553, 21)
844 (1418, 21)
845 (1296, 21)
846 (317, 21)
847 (0, 21)
848 (1776, 21)
849 (4540, 21)
850 (7666, 21)
851 (4986, 21)
852 (2784, 21)
853 (10674, 21)
854 (8442, 21)
855 (678, 21)
856 (8318, 21)
857 (10468, 21)
858 (9119, 21)
859 (5215, 21)
860 (13839, 21)
861 (2050, 21)
862 (13363, 21)
863 (12167, 21)
864 (8298, 21)
865 (6655, 21)
866 (11541, 21)
867 (2909, 21)
868 (2611, 21)
869 (3468, 21)
870 (4586, 21)
871 (2439, 21)
872 (1944, 21)
873 (2474, 21)
874 (2142, 21)
875 (3285, 21)
876 (1187, 21)
877 (9294, 21)
878 (5249, 21)
879 (1361, 21)
880 (1050, 21)
881 (1520, 21)
882 (5497, 21)
883 (1934, 21)
884 (2162, 21)
885 (714, 21)
886 (1701, 21)
887 (361, 21)
888 (623, 21)
889 (264, 21)
890 (5072, 21)
891 (3743, 21)
892 (4134, 21)
893 (1245, 21)
894 (3252, 21)
895 (1237, 21)
896 (993, 21)
897 (4467, 21)
898 (3967, 21)
899 (2386, 21)
900 (533, 21)
901 (1922, 21)
902 (11871, 21)
903 (3492, 21)
904 (404, 21)

In [28]:
# this is associated with the previous block of codes
# out_filepath = home_dir+"data/ALFA_population_freq/freq_filtered.vcf.gz"
# if os.path.exists(out_filepath): os.remove(out_filepath)
# filtered_alfa_popu_freq_df.to_csv(out_filepath, sep="\t", compression='gzip', chunksize=1000000, index=False, mode="a", header=True)
# print(filtered_alfa_popu_freq_df.shape)
# print(filtered_alfa_popu_freq_df["ID"].unique().shape)
# filtered_alfa_popu_freq_df.head()

(4645985, 21)
(4645985,)

,CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,SAMN10492695,...,SAMN10492697,SAMN10492698,SAMN10492699,SAMN10492700,SAMN10492701,SAMN10492702,SAMN11605645,SAMN10492703,SAMN10492704,SAMN10492705
14405,NC_000001.11,69116,rs757299236,G,A,.,.,.,AN:AC,7618:0,...,84:0,2708:0,146:0,610:0,24:0,94:0,470:1,2816:0,108:0,11862:1
14410,NC_000001.11,69134,rs781394307,A,G,.,.,.,AN:AC,7618:9,...,84:0,2708:0,146:0,610:5,24:0,94:0,470:0,2816:0,108:0,11862:14
14414,NC_000001.11,69149,rs1458521218,T,A,.,.,.,AN:AC,7618:3,...,84:0,2708:0,146:1,610:0,24:0,94:0,470:0,2816:0,108:0,11862:4
14419,NC_000001.11,69184,rs1231643173,G,A,.,.,.,AN:AC,7618:0,...,84:0,2708:0,146:0,610:0,24:0,94:0,470:0,2816:0,108:0,11862:0
14422,NC_000001.11,69200,rs1453226491,T,C,.,.,.,AN:AC,7618:0,...,84:0,2708:5,146:0,610:0,24:0,94:0,470:0,2816:5,108:0,11862:5

In [4]:
out_filepath = home_dir+"data/ALFA_population_freq/freq_filtered.vcf.gz"
filtered_alfa_popu_freq_df = pd.read_csv(out_filepath, sep="\t")
print(filtered_alfa_popu_freq_df.shape)
print(filtered_alfa_popu_freq_df["ID"].unique().shape)
print(filtered_alfa_popu_freq_df["REF"].value_counts())
print(filtered_alfa_popu_freq_df["ALT"].value_counts())
filtered_alfa_popu_freq_df.head()

(4645985, 21)
(4645985,)
C                           1547270
G                           1534441
A                            783094
T                            781174
TA                                1
CCACTTCTTTAATCACCACCACCA          1
CCTT                              1
ATAGCCTCTCCTCCTGTTCACGT           1
AT                                1
ATCT                              1
Name: REF, dtype: int64
A                           1137912
T                           1135304
G                            826882
C                            823314
A,T                          236409
G,T                          154449
A,C                          153408
C,G                           69366
A,G                           32040
C,T                           31499
A,G,T                         19538
A,C,T                         19148
A,C,G                          2887
C,G,T                          2677
T,A                             275
T,G                             194
A,T,G                           174
A,T,C                           160
C,A                              98
G,C                              69
G,A                              33
G,T,A                            29
T,C                              25
C,T,G                            23
G,A,T                            18
A,G,C                            16
C,T,A                            12
C,A,T                             8
G,C,T                             7
C,A,G                             3
C,G,A                             2
T,A,C                             1
AT                                1
TCACTTCTTTGATCACCACCACGG          1
T,G,A                             1
GTGA                              1
GTAGCCTCTCCTCCTGTTCACAC           1
Name: ALT, dtype: int64

,CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,SAMN10492695,...,SAMN10492697,SAMN10492698,SAMN10492699,SAMN10492700,SAMN10492701,SAMN10492702,SAMN11605645,SAMN10492703,SAMN10492704,SAMN10492705
0,NC_000001.11,69116,rs757299236,G,A,.,.,.,AN:AC,7618:0,...,84:0,2708:0,146:0,610:0,24:0,94:0,470:1,2816:0,108:0,11862:1
1,NC_000001.11,69134,rs781394307,A,G,.,.,.,AN:AC,7618:9,...,84:0,2708:0,146:0,610:5,24:0,94:0,470:0,2816:0,108:0,11862:14
2,NC_000001.11,69149,rs1458521218,T,A,.,.,.,AN:AC,7618:3,...,84:0,2708:0,146:1,610:0,24:0,94:0,470:0,2816:0,108:0,11862:4
3,NC_000001.11,69184,rs1231643173,G,A,.,.,.,AN:AC,7618:0,...,84:0,2708:0,146:0,610:0,24:0,94:0,470:0,2816:0,108:0,11862:0
4,NC_000001.11,69200,rs1453226491,T,C,.,.,.,AN:AC,7618:0,...,84:0,2708:5,146:0,610:0,24:0,94:0,470:0,2816:5,108:0,11862:5

In [30]:
dbsnp_with_prots_df = optim_df
dbsnp_with_prots_popufreq_df = dbsnp_with_prots_df.merge(filtered_alfa_popu_freq_df, how="inner", left_on="snp_id", right_on="ID") # mapping clinvar mRNA transcripts to protein accession
print(dbsnp_with_prots_popufreq_df.shape)
print(dbsnp_with_prots_popufreq_df.columns)
print(dbsnp_with_prots_popufreq_df["RefSeq_prot"].unique().shape[0])

(4674997, 33)
Index(['snp_id', 'acc', 'chrpos', 'spdi', 'create_date', 'update_date',
       'gene_symbol', 'HGNC_ID', 'symbol', 'name', 'RefSeq_prot', 'variations',
       'CHROM', 'POS', 'ID', 'REF', 'ALT', 'QUAL', 'FILTER', 'INFO', 'FORMAT',
       'SAMN10492695', 'SAMN10492696', 'SAMN10492697', 'SAMN10492698',
       'SAMN10492699', 'SAMN10492700', 'SAMN10492701', 'SAMN10492702',
       'SAMN11605645', 'SAMN10492703', 'SAMN10492704', 'SAMN10492705'],
      dtype='object')
18326

In [31]:
out_filepath = home_dir+"data/ALFA_population_freq/dbsnp_with_prots_and_population_freq_mapping.vcf.gz"
if os.path.exists(out_filepath): os.remove(out_filepath)
dbsnp_with_prots_popufreq_df.to_csv(out_filepath, sep="\t", compression='gzip', chunksize=1000000, index=False, mode="a", header=True)
dbsnp_with_prots_popufreq_df.shape

(4674997, 33)

In [23]:
# dbsnp_with_prots_popufreq_df_iterator = pd.read_csv(out_filepath, sep="\t", compression='gzip', chunksize=10000)
# dbsnp_with_prots_popufreq_first_df = dbsnp_with_prots_popufreq_df_iterator.__next__()
# out_filepath = home_dir+"data/ALFA_population_freq/dbsnp_with_prots_and_population_freq_mapping_small.txt"
# dbsnp_with_prots_popufreq_first_df.to_csv(out_filepath, sep="\t", index=False, header=True)

In [32]:
dbsnp_with_prots_popufreq_df

,snp_id,acc,chrpos,spdi,create_date,update_date,gene_symbol,HGNC_ID,symbol,name,...,SAMN10492697,SAMN10492698,SAMN10492699,SAMN10492700,SAMN10492701,SAMN10492702,SAMN11605645,SAMN10492703,SAMN10492704,SAMN10492705
0,rs1491004261,NC_000002.12,2:128176888,NC_000002.12:128176887:T:C,2017/11/09 09:55,2022/10/12 21:08,UGGT1,HGNC:15663,UGGT1,UDP-glucose glycoprotein glucosyltransferase 1,...,86:0,2784:0,146:0,610:0,26:0,98:0,496:0,2898:0,112:0,14050:0
1,rs1490185682,NC_000002.12,2:128157261,NC_000002.12:128157260:T:C,2017/11/09 09:55,2022/10/12 21:08,UGGT1,HGNC:15663,UGGT1,UDP-glucose glycoprotein glucosyltransferase 1,...,86:0,2784:0,146:0,610:0,26:0,98:0,496:0,2898:0,112:0,14050:0
2,rs1489586107,NC_000002.12,2:128157294,NC_000002.12:128157293:A:G,2017/11/09 09:55,2022/10/12 21:08,UGGT1,HGNC:15663,UGGT1,UDP-glucose glycoprotein glucosyltransferase 1,...,0:0,20:0,354:0,18:0,0:0,0:0,4092:0,20:0,0:0,21382:1
3,rs1487964835,NC_000002.12,2:128138817,NC_000002.12:128138816:G:A,2017/11/09 09:55,2022/10/12 21:08,UGGT1,HGNC:15663,UGGT1,UDP-glucose glycoprotein glucosyltransferase 1,...,26:0,586:0,0:0,0:0,30:0,0:0,2276:0,594:0,56:0,8988:1
4,rs1485620659,NC_000002.12,2:128133175,NC_000002.12:128133174:A:C,2017/11/09 09:55,2022/10/12 21:08,UGGT1,HGNC:15663,UGGT1,UDP-glucose glycoprotein glucosyltransferase 1,...,86:0,2784:0,146:0,610:0,26:0,98:0,496:0,2898:0,112:0,14050:0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4674992,rs201657622,NC_000001.11,1:144373466,NC_000001.11:144373465:C:T,2012/05/04 13:09,2022/10/12 17:08,PPIAL4E,HGNC:33997,PPIAL4E,peptidylprolyl isomerase A like 4E,...,0:0,0:0,0:0,0:0,0:0,0:0,8:0,0:0,0:0,4294:59
4674993,rs200452456,NC_000024.10,Y:23229611,NC_000024.10:23229610:A:T,2012/05/04 13:09,2022/10/13 18:31,DAZ2,HGNC:15964,DAZ2,deleted in azoospermia 2,...,10:0,260:0,0:0,0:0,12:0,0:0,1050:0,264:0,22:0,4262:2
4674994,rs142112856,NC_000004.12,4:9325189,NC_000004.12:9325188:A:G,2011/05/09 23:43,2022/10/13 04:44,USP17L24,HGNC:44453,USP17L24,ubiquitin specific peptidase 17 like family me...,...,84:35,2708:2323,146:34,610:37,24:10,94:7,470:138,2816:2427,108:45,11862:3689
4674995,rs28613881,NC_000004.12,4:9363153,NC_000004.12:9363152:A:G,2005/05/24 13:24,2022/10/13 04:44,USP17L30,HGNC:44458,USP17L30,ubiquitin specific peptidase 17 like family me...,...,84:42,2708:1618,146:77,610:292,24:12,94:47,470:243,2816:1685,108:54,11862:6624
4674996,rs11798010,NC_000023.11,X:49553056,NC_000023.11:49553055:T:C,2004/02/28 21:15,2022/10/17 03:51,GAGE12E,HGNC:31905,GAGE12E,G antigen 12E,...,0:0,6:0,0:0,0:0,0:0,0:0,20:6,6:0,0:0,108:40