In [48]:
import os
import sys
home_dir = "../"
module_path = os.path.abspath(os.path.join(home_dir))
if module_path not in sys.path:
    sys.path.append(module_path)

import pandas as pd
from typing import List
# see notes/mysql to find from where and how the data [SNPs_dbSNP, SNPs_PMD and seqs_PMD] is downloaded

In [49]:
def summarize_functional_effect(mut_function:str):
    # print(mut_function)
    effects = []
    effect = ""
    flag = False
    for i, ch in enumerate(mut_function):
        if ch=='[':
            flag = True
            continue
        if flag and ch!="]":
            effect += ch
        if ch=="]":
            flag = False
            effects.append(effect)
            effect=""
    return effects

def get_functional_effect(effects:List):
    if len(effects)==0: return "No-effect"

    counts = [] 
    functional_effect = ""
    for ef in effects:
        if "0" in ef:
            return "Knock-out"
        elif "=" in ef:
            functional_effect = "No-effect"
        else:
            counts.append(len(ef)-2)

    
    if len(counts)==0 and functional_effect=="No-effect": return "No-effect"
    elif max(counts)<3: return "Effect"
    else: return "Knock-out"

In [58]:
pmd_df = pd.read_csv(home_dir+"data/SNPdbe/SNPs_PMD.csv", sep="\t;") # PMD: from SNPdbe # (127565, 48)
pmd_df = pmd_df[(pmd_df["function"]!=";\\N") & (pmd_df["function"]!="\\N")]  # (72738, 48)
pmd_df = pmd_df[pmd_df["function"].apply(lambda x: "[" in x)] # removing rows that does not have functional effect annotations (65128, 48)
print(pmd_df.shape) 
print(pmd_df.columns)

pmd_df["wt"] = pmd_df["mut_real"].apply(lambda x: x[0]) # 1-letter amino acid
pmd_df["mut"] = pmd_df["mut_real"].apply(lambda x: x[-1])
pmd_df["prot_pos"] = pmd_df["mut_real"].apply(lambda x: int(x[1:-1])) # mutation position is 0-indexed
pmd_df["prot_pos"] += 1 # NCBI mutation positions are 1-indexed, so keeping up with existing implementation making 1-indexed protein mutation position

pmd_df["function_summarized"] = pmd_df["function"].apply(summarize_functional_effect)
pmd_df["functional_effect"] = pmd_df["function_summarized"].apply(get_functional_effect)
pmd_df[["function_summarized", "functional_effect"]]
# txt = "-100 [-]: Ef ime [+]: Ch [+++]ime [+ + +]: Ch tivity [- - -]: NAD-GH activity [- - -]ddd"
# re.findall("\[[+-]+\s+\]", txt)

print(pmd_df.shape) 
print(pmd_df.columns)

/tmp/ipykernel_1464751/3568128605.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  pmd_df = pd.read_csv(home_dir+"data/SNPdbe/SNPs_PMD.csv", sep="\t;") # PMD: from SNPdbe # (127565, 48)

(65128, 48)
Index(['mut_id', 'md5', 'pmd_id', 'nr', 'authors', 'journal', 'title',
       'medline', 'crossref', 'uniprot_id', 'ensembl_id', 'other_ref',
       'protein', 'source', 'expression_sys', 'mut_PMD', 'mut_real',
       'function', 'fb', 'structure', 'strB', 'stability', 'staB',
       'expression', 'eB', 'transport', 'tB', 'maturation', 'mB', 'disease',
       'dB', 'uni_real', 'uni_realid', 'uni_start', 'uni_finish', 'uniq_start',
       'uniq_finish', 'uni_loc', 'ens_real', 'ens_organism', 'ens_start',
       'ens_finish', 'ensq_start', 'ensq_finish', 'ens_loc', 'pos_real',
       'mt_real', 'taxid'],
      dtype='object')
(65128, 53)
Index(['mut_id', 'md5', 'pmd_id', 'nr', 'authors', 'journal', 'title',
       'medline', 'crossref', 'uniprot_id', 'ensembl_id', 'other_ref',
       'protein', 'source', 'expression_sys', 'mut_PMD', 'mut_real',
       'function', 'fb', 'structure', 'strB', 'stability', 'staB',
       'expression', 'eB', 'transport', 'tB', 'maturation', 'mB', 'disease',
       'dB', 'uni_real', 'uni_realid', 'uni_start', 'uni_finish', 'uniq_start',
       'uniq_finish', 'uni_loc', 'ens_real', 'ens_organism', 'ens_start',
       'ens_finish', 'ensq_start', 'ensq_finish', 'ens_loc', 'pos_real',
       'mt_real', 'taxid', 'wt', 'mut', 'prot_pos', 'function_summarized',
       'functional_effect'],
      dtype='object')

### PMD data merging with corresponding sequences

In [59]:
seq_pmd_df = pd.read_csv(home_dir+"data/SNPdbe/seqs_PMD.csv", sep="\t;") # PMD: from SNPdbe # (127565, 48)
seq_pmd_df.drop(columns=["taxid"], inplace=True)
print(seq_pmd_df.shape) 
print(seq_pmd_df.columns)

pmd_df = pd.merge(left=pmd_df, right=seq_pmd_df, on=["pmd_id", "nr"], how="inner")
pmd_columns = ["mut_id", "pmd_id", "nr", "crossref", "uniprot_id", "ensembl_id", "taxid", "protein", "mut_PMD", "mut_real", 'wt', 'mut', 'prot_pos', 'function_summarized', 'functional_effect', "function", "seq"]
pmd_df = pmd_df[pmd_columns]
# pmd_df.drop_duplicates(keep="first", inplace=True)
print(pmd_df.shape) 
print(pmd_df.columns)
# pmd_df["mut_id"].value_counts() # multiple entries with same mut-id
# pmd_df[pmd_df["mut_id"]==952197]
pmd_df[["pmd_id", "mut_real", "seq"]]

/tmp/ipykernel_1464751/1650429723.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  seq_pmd_df = pd.read_csv(home_dir+"data/SNPdbe/seqs_PMD.csv", sep="\t;") # PMD: from SNPdbe # (127565, 48)

(53124, 4)
Index(['md5', 'pmd_id', 'nr', 'seq'], dtype='object')
(65128, 17)
Index(['mut_id', 'pmd_id', 'nr', 'crossref', 'uniprot_id', 'ensembl_id',
       'taxid', 'protein', 'mut_PMD', 'mut_real', 'wt', 'mut', 'prot_pos',
       'function_summarized', 'functional_effect', 'function', 'seq'],
      dtype='object')

        pmd_id mut_real                                                seq
0      A000006    C271Y  MVNSTHRGMHTSLHLWNRSSYRLHSNASESLGKGYSDGGCYEQLFV...
1      A000006     N62S  MVNSTHRGMHTSLHLWNRSSYRLHSNASESLGKGYSDGGCYEQLFV...
2      A000007    K395A  MAGAIENARKEIKRISLEDHAESEYGAIYSVSGPVVIAENMIGCAM...
3      A000007    K407A  MAGAIENARKEIKRISLEDHAESEYGAIYSVSGPVVIAENMIGCAM...
4      A000007    Y459A  MAGAIENARKEIKRISLEDHAESEYGAIYSVSGPVVIAENMIGCAM...
...        ...      ...                                                ...
65123  A994629      Q3A                                      NIQMLLEAADYLE
65124  A994629      Q3R                                      NIQMLLEAADYLE
65125  A994629     Y11D                                      NIQMLLEAADYLE
65126  A994631    K245R  EALQRPVASDFEPQGLSEAARWNSKENLLAGPSENDPNLFVALYDF...
65127  A994631    K245R  EALQRPVASDFEPQGLSEAARWNSKENLLAGPSENDPNLFVALYDF...

[65128 rows x 3 columns]

### SNPs correponding to PMD data

In [60]:
dbSNP_df = pd.read_csv(home_dir+"data/SNPdbe/SNPs_dbSNP.csv", sep="\t;") # dbSNP: from SNPdbe
dbSNP_df = dbSNP_df[(dbSNP_df["mut_id"]!=";\\N") & (dbSNP_df["mut_id"]!="\\N")] # (1780330, 34)
dbSNP_df.drop(columns=["taxid"], inplace=True)

dbSNP_df = dbSNP_df.astype({'mut_id': 'int64'})
print(dbSNP_df.shape) # (1526352, 34)
print(dbSNP_df.columns)
# dbSNP_df.loc[0]

# column description can be found here: https://www.rostlab.org/services/snpdbe/docu/schema.pdf
# protein pos is 0-indexed
dbSNP_cols = ["mut_id", "snp_id", "mrna_acc", "mrna_ver", "mrna_pos", "allele",  "protein_acc", "protein_ver", "verified"]
dbSNP_df = dbSNP_df[dbSNP_cols]
dbSNP_df.drop_duplicates(subset=["mut_id"], keep="first", inplace=True)
dbSNP_df

/tmp/ipykernel_1464751/883346375.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  dbSNP_df = pd.read_csv(home_dir+"data/SNPdbe/SNPs_dbSNP.csv", sep="\t;") # dbSNP: from SNPdbe

(1526352, 33)
Index(['mut_id', 'build', 'assembly', 'verified', 'md5', 'snp_id',
       'contig_acc', 'contig_ver', 'asn_from', 'asn_to', 'locus_id',
       'locus_symbol', 'mrna_acc', 'mrna_ver', 'protein_acc', 'protein_ver',
       'fxn_class', 'reading_frame', 'allele', 'mt', 'pos', 'ctg_id',
       'mrna_pos', 'mrna_start', 'mrna_stop', 'codon', 'protRes', 'contig_gi',
       'mrna_gi', 'mrna_orien', 'cp_mrna_ver', 'cp_mrna_gi', 'verComp'],
      dtype='object')

,mut_id,snp_id,mrna_acc,mrna_ver,mrna_pos,allele,protein_acc,protein_ver,verified
0,1,45045661.0,NM_001011564,1.0,40,G,NP_001011564,1.0,0
2,2,45045662.0,NM_001011564,1.0,166,A,NP_001011564,1.0,0
4,3,45045672.0,NM_001011564,1.0,1013,C,NP_001011564,1.0,0
6,4,45045684.0,NM_001011564,1.0,1082,A,NP_001011564,1.0,0
8,5,45045690.0,NM_001011564,1.0,1244,C,NP_001011564,1.0,0
...,...,...,...,...,...,...,...,...,...
1780325,1748926,140599940.0,NM_001243541,1.0,\N,C,NP_001230470,1.0,0
1780326,1748927,145329239.0,NM_001243541,1.0,\N,C,NP_001230470,1.0,0
1780327,1748928,149512341.0,NM_001243541,1.0,\N,T,NP_001230470,1.0,0
1780328,1748929,180840662.0,NM_001243541,1.0,\N,A,NP_001230470,1.0,0
1780329,1748930,189046524.0,NM_001243541,1.0,\N,T,NP_001230470,1.0,0

### Merging PMD with SNPs

In [42]:
pmd_with_rsids_df = pd.merge(left=pmd_df, right=dbSNP_df, how="left", on="mut_id")
print(pmd_with_rsids_df.shape)
print(pmd_with_rsids_df.columns)

(65128, 25)
Index(['mut_id', 'pmd_id', 'nr', 'crossref', 'uniprot_id', 'ensembl_id',
       'taxid', 'protein', 'mut_PMD', 'mut_real', 'wt', 'mut', 'prot_pos',
       'function_summarized', 'functional_effect', 'function', 'seq', 'snp_id',
       'mrna_acc', 'mrna_ver', 'mrna_pos', 'allele', 'protein_acc',
       'protein_ver', 'verified'],
      dtype='object')

### Downloading SNPs using rs-id list (work on this only once)

In [43]:
snp_ids = pmd_with_rsids_df[~pd.isna(pmd_with_rsids_df["snp_id"])]["snp_id"].unique() # number of rows that is mapped to snp-id: 2877
print(len(snp_ids))
snp_ids = [str(int(snp_id)) for snp_id in snp_ids]
snp_ids = " ".join(snp_ids)
snp_ids # 1. copy output and run download_snps_from_snplist (did not work) 2. manually downloaded and merged 100 rs-ids at a time.

1107

'121913562 121913566 80358221 56053615 61751374 61750146 61751402 1800555 61750646 1800548 1800553 61750639 62645940 61753034 61751392 1801466 1800552 61748536 61750152 61749450 61750135 179363882 121917869 121917867 114025668 61732239 121908737 28941471 119450941 121908522 121908524 121908529 121908523 121908525 4426527 34116584 671 145078268 1800546 77718928 78340951 118204430 151052374 4547 138840536 121918008 34605986 63751122 121909571 121909556 139392083 121912713 1130409 33956927 121912727 147210663 1801689 1801690 121912442 121912438 121912432 139629762 71581996 104894897 104894888 59962885 121913000 121913002 61726464 121913001 61726465 121434566 79184941 78311289 121913105 28928868 1138272 1695 28936396 121909308 148640446 80356482 113993946 143517122 137852783 148698650 118204082 118204067 104893747 56268439 28934905 28934907 28934904 28935468 28934906 121913560 13447332 63750376 63750129 63751438 63750570 74315448 74315447 2234916 137853096 28937597 132630303 118204443 118204438 118204435 118204442 118204437 118204441 118204444 118204446 118204436 121964866 72552734 104893977 151344537 190549838 104893751 68026851 72554308 111033244 111033308 80338848 28939086 121909218 137852697 137852696 62516092 62507279 62516101 28939673 62619919 28939674 28939671 63751141 63751037 79658334 104894230 104893981 751141 121909301 121909303 72554662 63750756 63750424 63751273 121918000 121918002 121918001 4986790 4986791 137853247 121964858 121964855 121964857 121964856 121434597 113578517 104894758 104894759 121909653 121909651 121909652 55667289 121909650 104894749 104894748 120074187 74462309 28940572 74315453 28940571 104893878 104893877 74315439 28939374 28939376 28939375 104894848 121913634 121913632 4994 121434582 121909675 28934575 28934271 28934578 121912651 28934576 35414700 74315507 121907913 121918397 111033593 62638191 62638182 104894374 62638193 62638185 28934882 28934881 28934883 119103221 119103220 150591260 61749418 1800551 1762111 28938473 1800550 1800549 61754030 121912703 121909504 79281338 75002628 63750526 63751235 63750306 137853104 28931573 28941472 145138923 121434255 28897696 80357064 1799950 28934895 137852872 137852870 137852873 128620183 115129687 3732880 121907950 116840789 116840773 116840805 116840778 28939087 10509681 66501115 11572080 4987161 28371759 4986910 4986913 104893706 104893701 104893708 80357410 80357498 28897672 80357406 80357000 80357163 80356929 80357382 80356880 80357017 17879961 137853007 121912431 80265967 5742905 121964970 121964971 121434622 121965074 80338897 121965073 121965078 11555096 32817201 121909672 28933070 121917877 80359814 28371560 4988496 139763309 4988498 111033780 111033715 111033773 111033687 2070074 111033721 75391579 111033735 111033754 111033800 111033658 111033690 111033817 111033701 111033796 2230288 121908311 421016 76763715 76910485 80356771 104893914 104893913 104893909 121909750 28928905 28936703 1800562 119481080 50492298 104893858 121918101 137852510 121918352 35761929 121918351 137852624 147181709 104894575 104894578 120074180 120074195 121909141 121909143 121909142 104893843 104893842 104893848 121912953 77931234 121434281 121434283 121434280 2236700 1044498 74315492 74315493 1801133 1801131 28934897 104894363 104894368 121913658 28933099 137854451 28929493 137854450 28929494 121909249 104893758 121434598 137852695 148412181 62652721 62652693 62652698 62652700 104894179 28938169 28939672 104893761 5938 28936379 63750215 63751229 63750231 661 63751309 63750543 63750301 63750004 63751416 63749962 74315403 74315411 142771326 1805076 137853259 113403872 76087194 76534745 75075748 77316810 75076352 144029481 122454125 121908572 121908571 121908573 121908574 121913295 118192170 63749869 118192150 118192176 111033627 79389353 121908484 121908479 77301881 76163360 75660264 76871093 104893922 104894160 104894158 104894161 137852677 2071203 104894778 104894771 104894772 104894768 104894769 104894773 104894777 104894381 104894378 121918687 121918697 137853130 137853129 128620184 1799899 121918079 113994174 187322901 28941775 5030824 5030804 5030821 5030827 104893824 5030809 104893826 104894756 104894760 121909798 121909796 104894504 121918447 121913507 151344462 121912662 121912664 33974228 118204095 118204101 118204096 119481075 119481077 121907987 80358220 121912744 28929477 28931580 149659001 62542743 139297434 4008659 104894328 121913448 121913449 121913459 121913461 28937590 80357492 36209567 63750959 63751165 63750416 63750635 79738788 121918394 137852238 137852482 80356668 62623459 121913529 121913530 121913254 121913233 121909607 137852494 137852485 121909547 118203931 118203932 121913496 11554290 104894229 17851045 121917756 104894226 104894228 121918102 121913250 149800596 151344534 121909551 121913088 121918477 121912712 104894453 76285851 121909550 121909554 72552710 121918478 137852230 121434595 33918343 121918393 28999113 28930970 121909557 28929468 121909555 121909552 121909553 429358 769455 7412 11548791 137852481 137852528 137852529 137852530 28931569 121913237 121918381 121909790 121909791 137852266 76901040 79527524 121909549 121964925 28940870 121907948 28930978 121912717 137852243 137852225 137852233 137852249 137852260 137852234 137852236 137852232 137852259 137852268 28935499 5907 137852479 121913091 121918480 1804495 137852264 121909605 28942085 104894831 121909533 121909563 118204057 121908739 121908738 121908740 121908736 28929469 121918392 137852265 137852241 137852240 137852242 121964939 118204056 28931568 121918479 121918445 77645174 121918395 61753185 138310841 41295257 118204061 118204062 1048994 3189053 1048991 1130341 1048992 118204063 121965006 62652713 180710258 1041981 61754393 104894830 138567132 121909548 137852274 121909610 41449150 121908050 118204064 28934893 118204060 62508588 62514927 143312735 104893908 1800458 137852275 137852433 28933673 137852458 137852397 28933679 137852395 28933672 28933675 137852472 137852422 28937298 137852461 28936970 28937277 28937278 137852460 28937269 28937275 116555717 104894135 28940585 121964926 137852254 137852269 121908048 121908049 28933688 1071748 17433877 113281514 10805890 104894506 5036 78574148 79047363 79228041 77544362 80002911 104894137 121909620 121909609 121909618 111033663 121918444 28934896 121965007 121965009 52795188 1050086 28933689 121918072 121918069 121918070 104894974 104894959 104894964 104894969 104894957 141614092 28940880 62645911 62645921 17415673 61754388 63750445 63751263 121965043 1800456 121965044 121965039 121965040 121965042 104893755 137852532 121909567 74315293 137852376 137852375 5331 121909566 121909564 72656324 66721653 72653143 72653154 121907947 121918446 118204075 118204068 118204069 112909524 121912983 121912982 137852299 79377490 63750264 28933390 8154453 104894656 63750671 63750579 121912759 121908714 121908722 121908721 121908719 111033792 118204072 118204073 118204071 118204076 137852541 137852540 121912439 121912436 121912435 4882 121912722 121912720 121912721 78310315 121434534 118203933 72653172 72654797 72656306 72656317 72656330 72653137 150525536 121964928 28933677 28937305 28933681 137852387 28937289 28933670 28937293 28933674 28935213 28935202 28937294 137852426 137852427 28936969 28935216 137852428 137852459 28937281 28937272 28935201 28937268 28937282 137852430 137852431 104893863 104893864 121909569 17355168 2303790 33937393 35209591 33966487 34831026 33918778 79908535 121913631 121913624 78869449 137854541 137854542 28934603 137854544 137854543 121918071 28933980 28933979 72554339 72556293 104894658 121434278 28940574 28940279 4482466 180965157 121964941 137852300 121918408 72555399 1064588 1059455 41559117 74971492 1071742 41552219 2075684 1136683 1059460 268 118204078 137854550 34377097 2234922 17417482 28935478 121908097 121908098 151219882 121912443 121912444 1799895 121912434 121912437 121912441 121434529 121434530 28935496 104894757 121913016 121918148 121918149 1042714 1042713 38123790 28936082 28935194 28935493 121907982 137852301 121909546 147676453 104894329 104894326 149707394 104893770 29001653 104893769 104893790 62625011 72551353 72551342 72551345 72551343 28939068 700519 149541409 118204039 118204037 3894326 28362459 17855739 778805 104894438 104894433 143385179 111700736 137852504 28934571 121913343 104894274 104894273 121912445 118204002 118204001 118204004 118204003 104894968 148450964 709055 1131275 1131215 707912 41562914 41551516 3180380 41562613 1131201 41548113 12697943 41540317 41542423 41563312 151341195 41562013 9266150 2596492 121918057 121918692 104893948 28941474 5030857 121918324 121918010 121918016 140549609 104893942 121964938 17683430 33954001 17683011 121917887 121913547 138742870 121918060 121918061 28935484 74462743 1141814 74731340 104894177 121909309 137853249 121912455 121913548 67120076 181030365 121912460 121918686 121918706 121918707 121918693 121913046 137852279 121909221 66724222 72558454 119481078 2066479 119481079 121964997 137852305 699 121912749 121912842 121912843 9332739 11547328 61754278 104894139 121964932 121909365 28936702 104893837 28933074 149089920 72558409 121434599 62642932 28934900 62642930 62642931 5030847 62644503 62514951 63749805 121917733 28936676 121913014 1799958 121908004 1800556 28940872 57443665 121908096 121918009 118204017 121907985 1052133 121908727 121908715 121908726 121908732 121908723 121908730 151344535 121908725 121908734 28930969 121908733 28930971 121908716 121908731 104893967 63750646 28929489 35486059 80358219 35887327 28936073 28935174 104894657 11552822 121918399 104894332 104893989 104893993 104894673 74315304 74315302 28934891 1800566 104894159 3026906 137852231 72547567 72547568 72547576 72547563 72547569 67939114 72547559 72547560 72547571 72547566 72547573 72547562 72547556 72547570 104894443 104894445 121917817 121917818 41378349 33961444 34933751 33958739 33926796 137852785 137852786 137852784 1801278 1801275 121913517 104893839 104893838 104893840 1805009 11547464 1805007 1805008 1805005 61749755 121434297 121434296 104895317 104895295 104895304 104895319 104894424 121909180 72552735 121434600 63749836 63751420 63751139 63750800 63750590 63749885 63750322 63751163 63750522 63751106 63749967 63750601 72552272 121918654 34833812 121918007 121918012 121918011 138690664 3200254 63750512 121913036 121913037 121913038 17848368 2229707 1801253 113994175 113994172 120074184 120074185 120074186 80357462 28897683 41293463'

### Loading downloaded SNPS using the above rs-ids

In [44]:
snps_df = pd.read_csv(home_dir+"data/SNPdbe/snps.tsv", sep="\t", comment="#")
print(snps_df.columns)
snps_df = snps_df[['chr', 'pos', 'variation', 'variant_type', 'snp_id']]
print(snps_df.columns)
# print(pmd_snps_df.head())

variations = []
for i, tuple in enumerate(snps_df.itertuples()):
    if tuple.variant_type != "snv": # only considering SNVs
        print(tuple)
        # break
        continue
    
    ref_allele, alt_allele = tuple.variation.split(">")
    alt_alleles = alt_allele.split(",")
    # print(ref_allele, ">>>", alt_alleles)

    for alt_allele in alt_alleles:
        row = dict(snps_df.loc[i])
        row["ref_allele"] = ref_allele
        row["alt_allele"] = alt_allele
        variations.append(row)

snps_df = pd.DataFrame(variations)
snps_df = snps_df[~pd.isna(snps_df["chr"])]
snps_df = snps_df[~pd.isna(snps_df["pos"])]
snps_df = snps_df[~pd.isna(snps_df["snp_id"])]
snps_df.rename(columns={"pos": "chrom_pos", "chr": "chrom"}, inplace=True)
snps_df

Index(['chr', 'pos', 'variation', 'variant_type', 'snp_id',
       'clinical_significance', 'validation_status', 'function_class', 'gene',
       'frequency'],
      dtype='object')
Index(['chr', 'pos', 'variation', 'variant_type', 'snp_id'], dtype='object')
Pandas(Index=473, chr=nan, pos=nan, variation='G>T', variant_type=nan, snp_id=75660264)
Pandas(Index=474, chr=nan, pos=nan, variation='C>T', variant_type=nan, snp_id=76871093)
Pandas(Index=482, chr=nan, pos=nan, variation='G>T', variant_type=nan, snp_id=75660264)
Pandas(Index=483, chr=nan, pos=nan, variation='C>T', variant_type=nan, snp_id=76871093)
Pandas(Index=1242, chr='9', pos=124503218.0, variation='GC>TT', variant_type='mnv', snp_id=121918654)

,chrom,chrom_pos,variation,variant_type,snp_id,ref_allele,alt_allele
0,12,111803962.0,G>A,snv,671,G,A
1,11,67585218.0,"A>G,T",snv,1695,A,G
2,11,67585218.0,"A>G,T",snv,1695,A,T
3,8,142914761.0,A>G,snv,4547,A,G
4,14,20456995.0,"T>A,C,G",snv,1130409,T,A
...,...,...,...,...,...,...,...
2023,13,113118770.0,"T>C,G",snv,121964938,T,G
2024,10,80274538.0,"C>G,T",snv,138742870,C,G
2025,10,80274538.0,"C>G,T",snv,138742870,C,T
2026,6,160741375.0,"G>A,T",snv,181030365,G,A
2027,6,160741375.0,"G>A,T",snv,181030365,G,T

In [45]:
pmd_data_df = pd.merge(left=pmd_with_rsids_df, right=snps_df, on="snp_id", how="left") # multiple rows incurred for SNPs data under same snp_id
pmd_data_df["pmd_nr_id"] = pmd_data_df["pmd_id"]+pmd_data_df["nr"].apply(lambda x: "_"+str(int(x)))
pmd_data_df

,mut_id,pmd_id,nr,crossref,uniprot_id,ensembl_id,taxid,protein,mut_PMD,mut_real,...,protein_acc,protein_ver,verified,chrom,chrom_pos,variation,variant_type,ref_allele,alt_allele,pmd_nr_id
0,168938,A000006,2,MC4R_HUMAN,P32245,ENSP00000299766,9606,Melanocortin 4 receptor (MC4R); melanocortin-4...,CYS 271 TYR,C271Y,...,NP_005903,2.0,0,18,60371538.0,"C>A,T",snv,C,A,A000006_2
1,168938,A000006,2,MC4R_HUMAN,P32245,ENSP00000299766,9606,Melanocortin 4 receptor (MC4R); melanocortin-4...,CYS 271 TYR,C271Y,...,NP_005903,2.0,0,18,60371538.0,"C>A,T",snv,C,T,A000006_2
2,168942,A000006,2,MC4R_HUMAN,P32245,ENSP00000299766,9606,Melanocortin 4 receptor (MC4R); melanocortin-4...,ASN 62 SER,N62S,...,NP_005903,2.0,0,18,60372165.0,T>C,snv,T,C,A000006_2
3,979746,A000007,1,VATA_YEAST,P17255,YDL185W,559292,Endonuclease PI-SceI; vacuolar ATP synthase ca...,LYS 112 ALA,K395A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A000007_1
4,979747,A000007,1,VATA_YEAST,P17255,YDL185W,559292,Endonuclease PI-SceI; vacuolar ATP synthase ca...,LYS 124 ALA,K407A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A000007_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66276,1075115,A994629,3,MAD1_HUMAN,Q05195,ENSP00000264444,\N,Fragment (Met--Glu 8-20) of Mad1 protein (alte...,GLN 10 ALA,Q3A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A994629_3
66277,1075116,A994629,3,MAD1_HUMAN,Q05195,ENSP00000264444,\N,Fragment (Met--Glu 8-20) of Mad1 protein (alte...,GLN 10 ARG,Q3R,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A994629_3
66278,1075117,A994629,3,MAD1_HUMAN,Q05195,ENSP00000264444,\N,Fragment (Met--Glu 8-20) of Mad1 protein (alte...,TYR 18 ASP,Y11D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A994629_3
66279,1015339,A994631,2,ABL1_HUMAN,P00519,ENSP00000323315,\N,Fragment (Glu--Arg 27-1130) of proto-oncogene ...,LYS 271 ARG,K245R,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A994631_2
66280,1015339,A994631,1,ABL1_HUMAN,P00519,ENSP00000323315,\N,Fragment (Glu--Arg 27-1130) of proto-oncogene ...,LYS 271 ARG,K245R,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A994631_1

In [46]:
pmd_data_df.to_csv(home_dir+"models/aa_common/datasets_pmd_analysis/pmd_data.tsv", sep="\t", index=False)
sequences_df = pmd_data_df[['pmd_nr_id', 'crossref', 'seq']].drop_duplicates(keep="first")
print("#-of sequences", sequences_df.shape)

out_fasta_filepath = home_dir+"models/aa_common/datasets_pmd_analysis/pmd_sequences.fasta"
out_fasta_file_handle = open(out_fasta_filepath, "w")

for tuple in sequences_df.itertuples():
    out_fasta_file_handle.write(f">{tuple.pmd_nr_id} | {tuple.crossref}\n")
    out_fasta_file_handle.write(f"{tuple.seq}\n")
    # break
out_fasta_file_handle.close()

#-of sequences (11714, 3)

In [47]:
print(pmd_data_df["functional_effect"].value_counts())
print(pmd_data_df[pd.isna(pmd_data_df["mut_real"])].shape)
print(pmd_data_df[pd.isna(pmd_data_df["function"])].shape)
print(pmd_data_df[pd.isna(pmd_data_df["functional_effect"])].shape)
print("#-snps", pmd_data_df[~pd.isna(pmd_data_df["snp_id"])].shape) # number of rows that is mapped to snp-id: 2877
print("#-human (crossref)", pmd_data_df[pmd_data_df["crossref"].apply(lambda x: True if "HUMAN" in x else False)].shape) # number of human entries: 20594
print("#-human (taxid)", pmd_data_df[pmd_data_df["taxid"]=="9606"].shape) # # number of human entries using taxid: 16088
pmd_data_df[pmd_data_df["crossref"].apply(lambda x: True if "HUMAN" in x else False)][['pmd_id', 'nr']].drop_duplicates(keep="first")
# print(merged_df[(merged_df["crossref"].apply(lambda x: True if "HUMAN" in x else False)) & ~pd.isna(merged_df["snp_id"])].shape) # number of human entries that is mapped to rs-id: 2829

Effect       31136
Knock-out    18273
No-effect    16872
Name: functional_effect, dtype: int64
(0, 32)
(0, 32)
(0, 32)
#-snps (2868, 32)
#-human (crossref) (18789, 32)
#-human (taxid) (14914, 32)

        pmd_id  nr
0      A000006   2
65     A000050   1
79     A000077   1
88     A000082   1
97     A000091   1
...        ...  ..
66266  A994620   1
66268  A994627   3
66272  A994629   3
66279  A994631   2
66280  A994631   1

[3697 rows x 2 columns]